branches:
  only:
  - master

notifications: never

language: node_js
node_js:
- node

cache:
  directories:
  - node_modules
script:
  - npm run test:codecov

deploy:
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_AUTH_TOKEN
  on:
    branch: master
